**/node_modules
**/dist
**/dist-ssr
**/.vite
**/.env
**/.env.*
**/*.tsbuildinfo
**/.DS_Store
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
apps/web/public/content
apps/api/docker
docker-compose.yml
.qodo
.agents
content
